.practice1{
    color: green;
    text-decoration: underline;
    font-weight: bold;
    font-size: 2em;
}
.practice2{
    font-style: italic;
     letter-spacing: 2em;
}
.practice3{
    background-color: #ccc;
    border: 1px solid #999;
}
.continer .content{
    line-height: 40px;
    background-color: #efefef;
    color: blue;
    cursor: pointer;

}
/*.continer .lead{
    text-decoration: line-through;
}*/
lead{
   size: 30px;
    line-height: 60px;
}
.content{
    margin-left: 30px;
}
