.flex {
  background-color: #00c7ce;
  height: 50vh;
  padding: 10px;
  display: flex;
  align-content: space-around;
}
.flex > div {
  background-color: #fff;
  margin: 5px;
  font-size: 30px;
}

.flex > div {
  width: 300px;
}
.flex > div:nth-child(1) {
  flex-shrink: 0;
}
.flex > div:nth-child(2) {
  flex-shrink: 1;
}
.flex > div:nth-child(3) {
  flex-shrink: 2;
}
.flex > div:nth-child(4) {
  flex-shrink: 3;
}